### Type casting in python

-> There are 2 ways to convert a datatype to another in python
   
    a) Implicit Type casting : When datatype conversion is done by python interpreter without any instuction
                               from user.
                               
    b) Explicit Type casting : When conversion from one datatype to another is forced by the user.

#### Implicit casting example

In [3]:
x=2.5
y=9
z=x+y
print(z)

11.5

In [4]:
type(z)

float

In [6]:
x=10
y=2
z=x/y

In [7]:
print(z)

5.0

In [8]:
type(z)

float

### Explicit type casting example

In [25]:
x="5"
y=7
z=int(x)+y
print(z)

12

In [10]:
type(z)

int

### Checking for different explicit type castings

In [11]:
x=5
y=bool(x)
y

True

it is possible to convert int to boolean

In [12]:
x=5
y=str(x)
y

'5'

Hence it is possible to convert int to string

In [13]:
x=5
y=float(x)
y

5.0

Hence int to float conversion is also possible

In [14]:
b=True
a=int(b)
a

1

Hence conversion from boolean to int is also possible in python

In [15]:
a="alpha"
b=int(a)
b

ValueError: invalid literal for int() with base 10: 'alpha'

In [17]:
a="7987"
b=int(a)
b

7987

hence, conversion from string to int is possible only if the characters inside string are numeric

In [19]:
a=8.90
b=int(a)
b

8

hence, conversion from float to int is also possible

In [20]:
a=False
b=str(a)
b

'False'

hence boolean to string casting is also possible

In [21]:
a=False
b=float(a)
b

0.0

hence boolean to float casting is also possible

In [22]:
a=False
b=float(a)
b

0.0